<!doctype html>
<!-- Declaring the ng-app -->
<div ng-app="myApp", data-ng-controller="myCtrl">
  <head>
    <title>Parking</title>
    <!-- Importing the angular.js script -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="static/js/app.js"></script>
    <script src="static/js/config.js"></script>
    <script src="static/js/controllers.js"></script>
    <script src="static/js/services.js"></script>
    <script src="static/js/constants.js"></script>
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.9.25/paper-full.min.js"></script>


  </head>
  <!-- Attaching the view to the parkingCtrl -->
  <body>
    <!--<div ng-view></div>-->
    <canvas id="mainCanvas"></canvas>
    <script src="/static/js/main.js"></script>

  </body>



</div>
</html>